# 🔧 Build artifacts
build/
*.o
*.d

# 🧪 Simulation outputs
*.vcd
*.fsdb
*.vpd
simv
simv.daidir/
csrc/
# other .git
MEDS_Training/Module1(Developement Environment, Shell & Git)/Day4/

# 💻 Editor / OS files
.vscode/
*.swp
.DS_Store
Thumbs.db
